<div class="col-lg-12">

<div class="row">
	<section class="copyright text-center">
		Learning endeavor forever… from the desk of Pinal Bhatt
	</section>
	<section class="copyright text-center">
		<a href="{{@blog.url}}">PBDesk.com - {{@blog.title}}</a> &copy; {{date format="YYYY"}}. All Rights Reserved
	</section>
</div>
</div>
<div class="col-lg-12">

<div class="row">
</div>
</div>
