<div class="row container">
    <div class="panel panel-primary">
        <div class="panel-heading text-center" >
            <h3 class="panel-title">from the desk of Pinal Bhatt</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6 ">
                    <p class="intro-txt text-justify">Hi Everyone! I'm Pinal Bhatt and <em>Welcome to My Desk!</em> On this site you'll find interesting posts, articles, tutorials, news updates and links on Microsoft.Net, ASP.NET, MVC, WebAPIs, C#, VB.Net, Silverlight, WPF, Windows8, Metro Apps, WCF, XAML, JavaScript, jQuery, AngularJS, NodeJS, MongoDB, Mocha,Design Patterns, Social Media, Mobiles, Science & Technology and other random thoughts and opinions.</p>
                </div>
                <div class="col-md-6 ">
                    <p class="intro-txt  text-justify">i am <em>Software Engineer</em>, and of course always on learning ramp! I created this site to narrate my coding and technology learning experiences. I like sharing my experiments, ideas and experience with everyone by writing articles on latest technological trends. I feel pleased and pride by sharing my knowledge and information that I have gained via Internet. And this site is my heartily attempt towards this.</p>
                </div>
            </div>

        </div>
        <div class="panel-footer text-center">
            <div class="row">
                <div class="col-md-4"><a href="/About"><i class="fa fa-user"></i> About Me</a></div>
                <div class="col-md-4"><a href="/Featured"><i class="fa fa-flag"></i> Featured</a></div>
                <div class="col-md-4"><a href="/Disclaimer"><i class="fa fa-map-pin"></i> Disclaimer</a></div>
            </div>
        </div>
    </div>
</div>