{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
{{! The big featured header }}
{{! The main content area on the homepage }}
{{! Everything else gets inserted here }}
{{> "fancyHeader"}}
<div class="row priority post-list-container-container">
	<main role="main" class="col-md-10 col-md-offset-1 ptb50 mt30 post-list-container">
		{{! The tag below includes the post loop - partials/loop.hbs }}
		<div class="row">
		{{! This is the post loop - each post will be output using this markup }}

	</div>

	</main>
	<main role="main" class="col-md-10 col-md-offset-1 ptb50 mt30 post-list-container">
    {{#get "posts" limit="5" include="tags,author"}}
    {{#foreach posts}}
        {{#if @odd}}
      		{{> "single-loop-post"}}
  		{{else}}
  			{{> "single-loop-post-rev"}}
    	{{/if}}
    {{/foreach}}
    {{pagination}}
        {{! Adding in script here so the link to the next set of posts works }}
        <script>
            var olderPost = document.getElementsByClassName('older-posts');
            var url = '/page/2';
            if (olderPost[0].getAttribute('href') === '') {
                olderPost[0].setAttribute('href', url);
            }
        </script>
    {{/get}}
</main>
</div>
<div class="container">
	<div class="row well text-center">
		{{> "advertisement"}}
	</div>
</div>
{{> "fancyFooter"}}
